[defaults]
ansible_managed = "$Ansible {{{{ template_path|basename + lookup('pipe', 'git log --format=",%%h %%ad %%ae" -1 --date=format:"%%Y/%%m/%%d %%H:%%M" ' + template_fullpath|quote)|default(",UNCOMMITED", True) }}}}$"
inventory = inventory
stdout_callback = community.general.yaml

fact_caching = jsonfile
fact_caching_connection = /tmp
fact_caching_timeout = 300
gathering = smart
host_key_checking = False

remote_user = ec2-user
private_key_file = ~/.ssh/ansible

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o StrictHostKeyChecking=no -o ForwardAgent=yes
